{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Ajout d'article{% endblock %}

{% block body %}
    <section class="container">
        <h1>Ajouter un article</h1>

        <form action="index.php" method="post" role="form">
            <legend>Formulaire d'ajout d'article</legend>

            {% include 'formArticle.html.twig' %}


            <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
    </section>
{% endblock %}