{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Ajout d'article{% endblock %}

{% block body %}
    <section class="container">
        <h1>Ajouter un article</h1>

        <form action="index.php" method="post" role="form">
            <legend>Formulaire d'ajout d'article</legend>

            <div class="form-group">
                <label for="title">Titre de l'article</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Titre...">
            </div>
            <div class="form-group">
                <label for="author">Nom de l'auteur</label>
                <input type="text" class="form-control" name="author" id="author" placeholder="Auteur...">
            </div>
            <div class="form-group">
                <label for="message">Contenu de l'article</label>
                <textarea class="form-control" name="message" id="message" placeholder="Votre article..."></textarea>
            </div>


            <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
    </section>
{% endblock %}