{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Modification d'article{% endblock %}

{% block body %}
    <section class="container">
        <h1>Modifier un article</h1>

        {% if 'update' in error %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Echec de la modification de l'article.
            </div>
        {% endif %}

        <form action="index.php" method="post" role="form">
            <legend>Modification de l'article : {{ article.title }}</legend>

            {% include 'formArticle.html.twig' %}

            <input type="hidden" class="form-control" name="id" id="id" value="{{ article.id }} required">

            <button type="submit" class="btn btn-primary">Modifier</button>
        </form>
    </section>
{% endblock %}